body{
     font-family: 'Open Sans', sans-serif;
     font-family: 'Poppins', sans-serif;
     font-family: 'Work Sans', sans-serif;
}

/* header styles start here */
.nav-conteiner{
     display: flex;
     width:100%;
     min-height: 60px;
     justify-content: space-around;
     align-items: center;
     
    
}

.logo-conteiner{
     display: flex;
     align-items: center;
     gap: 10px;
}
.logo-conteiner img{
     width: 80px;
     height: 40px;
}
.nav-title{
     font-size: 2.7rem;
}
.First-Letter{
     color: #FF42A5 ;
}

.menu-conteiner ul{
     display: flex;
     gap: 20px;
     align-items: center;
}

.menu-conteiner .list-items >.items{
     list-style-type: none;
     
}
.menu-conteiner .list-items >.items>a{
     text-decoration: none;
     color: #3C354F;
     text-align: center;
     font-family: Work Sans;
     font-size: 1.3rem;
     font-weight: 500;
        
}
.follow-icons{
     display: flex;
     border-radius: 8px;
     background: rgba(11, 2, 35, 0.10);
     width: 200px;
     justify-content:space-around;
     align-items:center ;
     gap: 5px;
     height: 36px;
     padding: 5px;
}
.follow-icons h5{
     color:#3C354F;
}
.follow-icons img{
     width: 25px;
     height: 25px;
     gap: 2px;
}
/* header styles ends here */

/* banner style start here */

.banner-conteiner{
     display: flex;
     width: 90%;
     height: 900px;
     margin: 0 auto;
     justify-content: space-around;
     align-items: center;
     box-shadow:  15px;
}

.element{
     margin:50px 70px;
     
}
.banner-content{
     width: 90%;
     height: 100%;
     justify-content: center;
     background-image: url(./images/Group\ 14.png);
     background-repeat:no-repeat;
     background-size:cover;

}
.banner-title{
     color: #0B0223;
     text-align: center;
     font-size: 2.8rem;
     font-weight: 600;
     text-transform: uppercase;
}
.banner-img{
     width: 100%;
     height: 900px;
}
.abbr{
     font-size:5rem;
     background: -webkit-linear-gradient(#F948B2 10%, #8758F1 90%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}
 .banner-disc{
     display: flex;
     align-items: center;
     gap: 5px;
 }
.banner-disc img{
     width:20px;
     height: 20px;

}

.btn-primari{
     padding: 20px 35px;
     border: none;
     border-radius:50px;
     background-color: #4EC5F7;
     color: #FFF;
     font-size: 1rem;
     font-weight: 600;
     text-transform: uppercase;
}
.btn{
     padding: 20px 35px;
     border: none;
     border-radius:50px;
     background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
     color: #FFF;
     font-size: 1rem;
     font-weight: 600;
     text-transform: uppercase;
}

/* ends banner section */

/* cart section start here */

.Online-section h3{
     font-size: 3rem;
     font-weight: 700;
     text-align:center;
     margin: 0;
}

.Online-section p{
     text-align: center;
     font-size: 1.1rem;
     color: #534C64;
     text-align: center;
     font-weight: 400;
     margin-top: 10px;
     
}



.cart-contenteir{
     display: grid;
     grid-template-columns: repeat(4,1fr);
     column-gap: 1rem;
     margin: 50px 50px;
     width: 90%;
     

}
.Cart-title{

     font-size:3rem;
     background: -webkit-linear-gradient(#F948B2 10%, #8758F1 90%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;
}

/* cart section styles end here */

/* play online section styles start here */
.play-conteiner{
     display: flex;
     width: 90%;
     height: 650px;
     margin-top: 100px;
     justify-content: center;
     align-items: center;
}

.play-content{
     width: 100%;
     height: 750px;
     text-align: center;
}

.play-content .cart-discription{
     width: 50%;
     text-align: center;
     margin: 0 auto;
     font-size:1.1rem;
     margin-top: 1.5rem;
}

.play-content-title{
     text-align: center;
     font-size: 3rem;
     font-weight: 700;
    
}

.play-instantly{
     background: -webkit-linear-gradient(#F948B2 10%, #8758F1 90%);
     -webkit-background-clip: text;
     -webkit-text-fill-color: transparent;

}
.play-img{
     width: 100%;
}
.play-img .big-img{
     width: 80%;
     height: 50%;
     margin:0 0 0 100px;
}

.play-img .sort-img{
     width: 30%;
     height: -30%;
     position: relative;
     bottom: 200px;
}
/* play online section ends here */


/*icons-section */
.icons-conteiner{
     display: grid;
     grid-template-columns: repeat(5,1fr);
     gap: 10px;
     background-color: #ecb7d2c7;
     width: 1440px;
     padding: 20px;
     height: 300px;
     align-items: center;
     
     


}

.icons-conteiner .icons{
     display: flex;
     gap: 10px;
     width: 200px;
     height: 50px;
     margin: 50px 20px;
     background-color: #FFF;
     justify-content: center;
     align-items: center;
     padding: 5px 10px;
     border: none;
     border-radius:50px;
     color: #000000;
     font-size: 1rem;
     font-weight: 600;
}
#icons-item{
   justify-content: space-around;
   margin-top: 0;
}
.icons-conteiner .icons img{
     width: 25px;
     height: 25px;
}

.icons-conteiner .icons:hover{
     border: 1px solid #FF42A5;

}
.icons-conteiner .icons:hover h5{
     color: #FF42A5;
}
/* button section styles end here */
/* footer section styles start here */





